{% extends "lambda_app/global/index.html" %}

{% load static %}

{% block title %}Listar Alunos{% endblock title %}

{% block content %}
<h1>lista de alunos</h1>
<a href="registrar_aluno">Registrar novo aluno</a><br><br>
<table border="1">
   <tr>
       <th>Name</th>
       <th>CPF</th>
       <th>Email</th>
       <th>Telefone</th>
       <th>Matriculado</th>
       <th>Action</th>
   </tr>
   {% for student in students %}
   <tr>
       <td>{{ aluno.nome }}</td>
       <td>{{ aluno.cpf }}</td>
       <td>{{ aluno.email }}</td>
       <td>{{ aluno.telefone }}</td>
       <td>{{ aluno.matriculado }}</td>
       <td>
           <a href="{% url 'atualizar_registro' aluno.id %}">Editar</a>
           <a href="{% url 'deletar_registro' aluno.id %}">Deletar</a>
       </td>
   </tr>
   {% empty %}
   <tr><td colspan="6"><b>somente é possível registrar com todos os dados inseridos!</b></td></tr>
   {% endfor %}
</table>

{% endblock content %}
