{% extends "lambda_app/global/index.html" %}

{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}

<link href="{% static "css/styles.css" %}" rel="stylesheet">
<div class="jumbotron text-center">
    <h1>LAMBDA - Módulo de controle de alunos</h1>
    <p>Apesar do nome, não, não temos funções lambda no código, mas temos algo melhor: um módulo de controle de alunos. Este é um mergulho direto na gestão eficiente do aprendizado, sem frescuras, apenas funcionalidades práticas.</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Funcionalidades:</h3>
            <p>É possível realizar além de novos registros de alunos, alterar e deltar qualquer registro existente.</p>
        </div>
        <div class="col-sm-4">
            <h3>Requisitos:</h3>
            <p>Será necessário somente um computador com navegador de internet para ter acesso ao módulo.</p>
        </div>
        <div class="col-sm-4">
            <h3>Novos módulos:</h3>
            <p>Futuramente será possível criar unidades de ensino através dos módulos de disciplinas e a inserção de materiais, podendo criar um espaço de aprendizagem online muito prático. Aguarde!</p>
        </div>
    </div>
</div>
{% endblock content %}
